:root {
	--primary-color  : #161616;
	--secondary-color: #323232;
	--btn-color      : #adfff5;

	--heading-txt: #dedede;
	--normal-txt : #999999;

	--box-shadow-color: #000000;
}

.theme-apply {
	filter: invert(80%);
}