@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Source+Code+Pro:wght@700&display=swap');


* {
	transition: .2s linear;
}

html,
body {
	margin          : 0%;
	padding         : 0%;
	background-color: var(--primary-color);
	scroll-behavior: smooth;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: 'source code pro', 'consolas', 'monaco', monospace;
	margin     : 1rem 0rem;
	padding: 0;
	color      : var(--heading-txt);
}

p,
li,
span,
label,
input,
textarea {
	font-family: 'Roboto Mono', 'consolas', 'monaco', monospace;
	margin     : 0;
	padding    : 0;
	color      : var(--normal-txt);
}

a,
a:visited {
	text-decoration: none;
	color          : var(--normal-txt);
	display        : inline-block;
}

.card {
	text-align   : justify;
	border-radius: .3rem;
	-webkit-box-shadow: 0px 1px .25rem .01rem var(--box-shadow-color);
	-moz-box-shadow   : 0px 1px .25rem .01rem var(--box-shadow-color);
	box-shadow        : 0px 1px .25rem .01rem var(--box-shadow-color);
	background   : var(--primary-color);
	transition   : .35s ease;
}

.card:hover {
	transform: scale(1.01);

	/* box-shadow */
	-webkit-box-shadow: 0px 1px 1rem 2px var(--box-shadow-color);
	-moz-box-shadow   : 0px 1px 1rem 2px var(--box-shadow-color);
	box-shadow        : 0px 1px 1rem 2px var(--box-shadow-color);
}

#theme-toggle {
	width: 100%;
	position: relative;
}

#theme-toggle > label{
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: var(--secondary-color);
	padding: .5rem;
	border-radius: 1rem;
	height: 1rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

label>img {
	width: 1rem;
	height: 1rem;
}

#toggle {
	display: none;
}

#toggle:checked + label .ball {
	transform: translateX(2rem);
}

.ball {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: .25rem;
	left: .25rem;
	transition: .2s linear;
}

#back-to-top {
	position          : fixed;
	bottom            : 2rem;
	right             : 2rem;
	width             : 2rem;
	height            : 2rem;
	display: none;
	border-radius     : 50%;
	-webkit-box-shadow: 0px 0px 1rem 1px var(--box-shadow-color);
	-moz-box-shadow   : 0px 0px 1rem 1px var(--box-shadow-color);
	box-shadow        : 0px 0px 1rem 1px var(--box-shadow-color);
	transition: .25s ease;
}

#back-to-top:hover {
	transform: scale(1.2);
}

/* intro section */
#intro-section {
	height         : 15rem;
	text-align: center;
	display        : flex;
	align-items    : center;
	justify-content: center;
}


/* about-section */
#about-section {
	padding        : 1.5rem 1.5rem 0rem;
	display        : flex;
	justify-content: center;
}

.about-box {
	border-radius: .5rem;
	max-width    : 60rem;
	max-height   : 65rem;
	margin: 1rem;
	position: relative;

	/* gird */
	display              : grid;
	align-content        : center;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'top-div top-div' 'left-div right-div';

	/* box-shadow */
	-webkit-box-shadow: 0px 0px .5rem 1px var(--box-shadow-color);
	-moz-box-shadow   : 0px 0px .5rem 1px var(--box-shadow-color);
	box-shadow        : 0px 0px .5rem 1px var(--box-shadow-color);
}

.top-div {
	grid-area: top-div;
	min-height: 1.5rem;
	padding: .5rem;
	border-top-right-radius: .5rem;
	border-top-left-radius: .5rem;
	background: var(--secondary-color);
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav-container {
	position: absolute;
	left: .5rem;
}

.nav-container>a{
	margin: .5rem;
}

.btn-container {
	position: absolute;
	right: .5rem;
	display: flex;
	
}

.rbtn {
	width             : 1rem;
	height            : 1rem;
	margin            : .3rem;
	border-radius     : 50%;
}
.yello {
	background: #FEBD34;
}
.green {
	background: #62CB43;
}
.red {
	background: #F3514C;
}
.left-div>img {
	display      : block;
	margin       : 1rem auto;
	border-radius: 50%;
	width        : 13em;
	height       : 13em;
	border       : .2rem solid #ffffff;

	/* box-shadow */
	-webkit-box-shadow: 0px 0px .5rem 1px var(--box-shadow-color);
	-moz-box-shadow   : 0px 0px .5rem 1px var(--box-shadow-color);
	box-shadow        : 0px 0px .5rem 1px var(--box-shadow-color);
}

.left-div {
	padding   : 50px;
	text-align: center;
	grid-area: left-div;
}

.right-div {
	padding        : 1rem;
	margin-bottom  : 2rem;
	text-align     : justify;
	grid-area: right-div;
	display        : flex;
	align-content  : center;
	justify-content: center;
}

.right-inner-div {
	margin: auto 0px;
	padding-right: 1rem;
}

/* project section */
#project-section {
	padding      : 2rem 1rem;
	margin       : 0rem auto 1rem;
	background   : var(--secondary-color);
	text-align   : center;
	border-top   : .25rem dashed var(--primary-color);
	border-bottom: .25rem dashed var(--primary-color);
}

.project-card {
	width                : 300px;
	margin               : 1rem;
	display              : grid;
	grid-template-columns: 1fr;
	grid-template-rows   : 150px 75px 150px;

}


.project-img {
	background-image       : url("img/Maskman.png");
	border-top-left-radius : .3rem;
	border-top-right-radius: .3rem;
	background-size        : cover;
}

.project-title {
	margin: .2rem auto;
	color : var(--primary-color);
}

.project-description {
	margin: 0rem .7rem.7rem;
}

/* skill-section */
#skills-section {
	padding   : .5rem 1rem;
	margin    : 1.5rem auto;
	text-align: center;
}

.skills-container {
	margin: 2rem auto;
	grid-area      : "lang-container";
	display        : flex;
	flex-flow      : row wrap;
	justify-content: space-evenly;

}

.skill-card {
	margin : .5rem;
	padding: .2rem;
	width  : 120px;

	display              : grid;
	grid-template-columns: 1fr;
	grid-template-rows   : 1fr 40px;
}

.skill-img {
	padding      : .1rem;
	margin       : 0;
	border-bottom: .1rem solid var(--secondary-color);
}

.tools-container {
	margin: 2rem auto;
	grid-area      : "tools-container";
	display        : flex;
	flex-flow      : wrap;
	justify-content: center;
}

.skill-title {
	margin                    : 0;
	padding                   : 0;
	background                : var(--secondary-color);
	border-bottom-left-radius : .3rem;
	border-bottom-right-radius: .3rem;
	text-align                : center;
	display                   : flex;
	justify-content           : center;
	align-items               : center;
}

#contact-section {
	background   : var(--secondary-color);
	height       : 300px;
	border-top   : .1rem solid var(--box-shadow-color);
	padding      : 1rem;
	text-align   : center;
	display      : flex;
	flex-flow    : column nowrap;
	align-content: space-between;
	align-items  : center;
}

.contact-btn {
	background   : var(--btn-color);
	border-radius: .5rem;
	margin       : 3rem auto;
	padding      : .5rem 1rem;
	transition   : .1s ease-in;
	opacity: 80%;
}
.contact-btn>p{
	color        : var(--primary-color);
}
.contact-btn:hover {
	opacity: 100%;
	transform         : scale(1.05);
	-webkit-box-shadow: 0px 0px .5rem 1px var(--box-shadow-color);
	-moz-box-shadow   : 0px 0px .5rem 1px var(--box-shadow-color);
	box-shadow        : 0px 0px .5rem 1px var(--box-shadow-color);
}

.other-contact {
	display        : flex;
	flex-flow      : row nowrap;
	justify-content: center;
	align-items    : center;
}

.other-contact>a img {
	width  : 1.5rem;
	padding: 1rem;
}


/* mobile screen */
@media screen and (max-width: 767px) {
	
	#back-to-top {
		width: 2rem;
		height: 2rem;
		right: 2rem;
		bottom: 2rem;
	}

	#back-to-top img{
		width: 2rem;
		
	}
	.about-section {
		padding: .25rem .3rem;
	}

	.about-box {
		margin: 1.5rem 0rem;
		display              : grid;
		justify-content      : center;
		grid-template-columns: 1fr;
		grid-template-areas: "top-div" "left-div" "right-div";
	}
	.right-div {
		padding-right: 0;
	}
	
	.nav-container>a {
		margin: .3rem;
		font-size: .9rem;
	}

	.rbtn {
		margin: .15rem;
	}

	.right-div {
		margin-bottom: auto;
	}
	.card{
		transition: none;
	}
	.card:hover {
		transform: none;
		box-shadow   : 0 0 .25rem .01rem var(--box-shadow-color);
	}
}
